	<div class="container-fluid">
		<!-- Header Start -->
		<nav class="navbar navbar-expand-lg ps-5">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="">
				<a class="navbar-brand" href="#">
					<img class="img-fluid" src="/{{directory}}/img/logo.png" alt="Troovali" width="200">
				</a>
			</div>
			<div class="collapse navbar-collapse ms-2 justify-content-between" id="navbarTogglerDemo01">
				<ul class="navbar-nav mb-2 mb-lg-0 justify-content-around col-5">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">OFFRES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MES ANNONCES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">BOUTIQUES</a>
					</li>
				</ul>
				<div class="col-5 row mb-2 mb-lg-0 justify-content-end">
					<ul class="navbar-nav mb-2 mb-lg-0 justify-content-end align-items-center text-nowrap">
						<li class="nav-item">
							<div class="d-flex align-items-center">
								<i class='bx bx-user-plus bx-md'></i>
								<a class="text-black text-center d-flex flex-column" href="#">
									<small>Sign / Login</small>
									<small>ACCOUNT</small>
								</a>
							</div>
						</li>
						<li class="mx-4"></li>
						<li class="nav-item">
							<a class="nav-link annonce-badge" aria-current="page" href="#">POSTER UNE ANNONCE</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header End -->

		<div class="row mt-5 px-5 justify-content-around">
			<div class="row col-md-9 px-5">
				<h1 class="fw-bold">Toutes nos Boutiques Pro</h1>
				<div class="d-flex flex-wrap justify-content-around lh-1 ">
					<div class="mb-5">
						<div class="thumbnail-content my-3" style="background: url('/{{directory}}/img/auto.jpeg'); background-size: 100%;"></div>
						<span class="fw-bold">Leaders automobiles</span><br>
						<span>(12 annonces)</span>
					</div>
					<div class="mb-5">
						<div class="thumbnail-content my-3" style="background: url('/{{directory}}/img/boul.jpeg'); background-size: 100%;"></div>
						<span class="fw-bold">Boulangerie</span><br>
						<span>(32 annonces)</span>
					</div>
					<div class="mb-5">
						<div class="thumbnail-content my-3" style="background: url('/{{directory}}/img/spa.jpeg'); background-size: 100%;"></div>
						<span class="fw-bold">Hôtels & SPA</span><br>
						<span>(3 annonces)</span>
					</div>
					<div class="mb-5">
						<div class="thumbnail-content my-3" style="background: url('/{{directory}}/img/fruit.jpeg'); background-size: 100%;"></div>
						<span class="fw-bold">Fruits</span><br>
						<span>(54 annonces)</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 bg-white p-0 h-100">
				<h6 class="text-center bg-red text-white py-1 fw-bold">Comment vendre rapidement ?</h6>
				<div class="px-4 py-3">
					<p>Utiliser une description précise et un titre parlant.</p>
					<p>Vérifier que vous postez dans la bonne catégorie.</p>
					<p>Ajouter des photos et une vidéo de qualité.</p>
					<p>Vérifier votre annonce avant publication.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white text-center my-5 p-4">
		<h2 class="fw-bold">Vous souhaitez passer une annoce?</h2>
		<p class="fw-normal">Mettez votre annonce gratuitement sur Troovali.fr . C’est plus simple que vous le pensez !</p>
		<button class="bg-red border-0 rounded text-white p-1 fw-500">POSTER UNE ANNONCE</button>
	</div>
	<!-- Footer -->
	<footer class="p-5">
		<div class="row p-4">
			<div class="col-md-3 mb-4">
				<h5>A propos</h5>
				<a href="#">Qui sommess-nous?</a><br>
				<a href="#">Nous rejoindre</a><br>
				<a href="#">Mention Légales</a>
			</div>		
			<div class="col-md-3 mb-4">
				<h5>Informations Légales</h5>
				<a href="#">CGU</a><br>
				<a href="#">Règles de diffusion</a><br>
				<a href="#">Mention Légales</a><br>
				<a href="#">Vie privée / Cookies</a>
			</div>
			<div class="col-md-3 mb-4">
				<h5>Professionnel</h5>
				<a href="#">Publicités</a><br>
				<a href="#">Immobilier</a><br>
				<a href="#">Recrutements</a><br>
			</div>	
			<div class="col-md-3 mb-4">
				<h5>Des questions?</h5>
				<a href="#">Aide</a><br>
				<a href="#">Nous contacter</a><br>
				<i class="fa-solid fa-envelope fa-2x text-red me-1"></i>
				<i class="fa-brands fa-square-whatsapp fa-2x text-red me-1"></i>
			</div>
			<hr class="mt-5">
		</div>
	</footer>
	<div class="copyright">
		
	</div>
	<!-- Footer End -->