<div class="position-relative" style="background:#F4F9FD;">      
    <div class="col-12 col-xl-12 p-3">
        <div class="row d-flex justify-content-between flex-column flex-md-row">
            <div class="col-12 col-md-6 mb-3">
                <div class="ui left icon input col-12">
                    <input type="text" class="border-0 p-3 rounded-4" placeholder="Recherche" style="min-width: 200px;">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class=" col-12 col-md-5 d-flex justify-content-between justify-content-md-end ">
                <button class="btn bg-white bt-md me-4 mx-md-4 ">
                    <i class="fa-regular fa-bell"></i>
                </button>
                
                <div class="dropdown  bg-white rounded-2 d-flex justify-content-center align-items-center">
                    <button class="btn btn-seondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="profile mx-1 rounded-5">
                            <img src="{{ directory }}/assets/image/photo2.png" alt="">
                        </span>
                        <span class="fw-bold">John Doe</span>
                    </button>
                    <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Action 1</a></li>
                        <li><a class="dropdown-item" href="#">Action 2</a></li>
                        <li><a class="dropdown-item" href="#">Action 3</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-1 d-block d-xl-none" ></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 opacity-50">Bonjour, <span>John Doe</span></div>
        </div>
        <div class="row d-flex justify-content-between align-items-center">
            <span class="col-md-4">
                <h1 class="m-0">Tableau de bord</h1>
            </span>
            <span class="col-3 my-5 mt-0 d-flex justify-content-start  justify-content-lg-end" style="min-width: 300px;">
                <div class="calandar text-center p-3 w-75 rounded-3" style="background: #E6EDF5; font-size:11px">
                    <i class="bi bi-calendar"></i>
                    <span>Nov 16, 2020 - Dec 16, 2020</span>
                </div>
            </span>
        </div>
        <div class="row my-2 d-flex gap-3 justify-content-between flex-wrap">
            <div class="col-12 col-lg-8 bg-white p-3 rounded-3">
                <div class="title m-3 d-flex justify-content-between align-items-center">
                    <h2 class="mb-0">Personnels</h2>
                    <a href="#" class="h6 mt-0 text-primary">Tous voir > </a>
                </div>
                <div class="card-main d-flex flex-wrap justify-content-center align-items-center">
                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3" style="min-width: 150px;">
                        <div class="card rounded-5 border-0 m-2 p-3 d-flex justify-content-center align-items-center"
                            style="background: #F4F9FD;">
                            <div class="profil mt-2 p-1 border border-secondary" style="border-radius: 100%;">
                                <img src="{{ directory }}/assets/image/image.png" alt="" style="width: 50px; height:50px"
                                    class="rounded-circle">
                            </div>
                            <h4 class="fw-bold m-4 mb-1">Pierre</h4>
                            <h4 class="fw-light mt-0">Novotel</h4>
                            <div class="btn btn-outline-secondary btn-sm">303</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 bg-white rounded-3">
                <div class="title my-4">
                    <h2>Prochains départs</h2>
                    <div class="card-main row">
                        <div class="col-12 my-4" style="border-left: 5px solid #3F8CFF;">
                            <div class="position-relative">
                                <h3>Axe Central 1 <br> Analakely</h3>
                                <span class="text-warning position-absolute fs-4" style="top:0; right:0">
                                    <i class="bi bi-arrow-up fw-bold fs-5"></i>
                                </span>
                            </div>
                            <div class="position-relative">
                                <span class="fw-light fs-6" style="opacity: 0.4">Aujourd'hui | 5h</span>
                                <span class="position-absolute text-secondary p-1 px-2 rounded-2 fw-bold" style="top:0; right:0; background:#F4F9FD">
                                    <i class="bi bi-clock-fill me-2"> </i>2h
                                </span>
                            </div>
                        </div>

                    </div>
                    
                    <div class="card-main row">
                        <div class="col-12 my-4" style="border-left: 5px solid #DE92EB;">
                            <div class="position-relative">
                                <h3>Axe Central 1 <br> Analakely</h3>
                                <span class="position-absolute fs-4" style="top:0; right:0; color:#0AC947;">
                                    <i class="bi bi-arrow-down fs-5"></i>
                                </span>
                            </div>
                            <div class="position-relative">
                                <span class="fw-light fs-6" style="opacity: 0.4">Aujourd'hui | 18h</span>
                                <span class="position-absolute text-secondary p-1 px-2 rounded-2 fw-bold" style="top:0; right:0; background:#F4F9FD">
                                    <i class="bi bi-clock-fill me-2"> </i>1h
                                </span>
                            </div>
                        </div>

                    </div>
                    
                    <div class="card-main row">
                        <div class="col-12 my-4" style="border-left: 5px solid #DE92EB;">
                            <div class="position-relative">
                                <h3>Axe Central 1 <br> Analakely</h3>
                                <span class="position-absolute fs-4" style="top:0; right:0; color:#0AC947;">
                                    <i class="bi bi-arrow-down fs-5"></i>
                                </span>
                            </div>
                            <div class="position-relative">
                                <span class="fw-light fs-6" style="opacity: 0.4">Demain | 5h</span>
                                <span class="position-absolute text-secondary p-1 px-2 rounded-2 fw-bold" style="top:0; right:0; background:#F4F9FD">
                                    <i class="bi bi-clock-fill me-2"> </i>2h
                                </span>
                            </div>
                        </div>

                    </div>
                    
                    
                </div>
            </div>

        </div>
        <div class="row mt-5 d-flex gap-3 justify-content-between flex-wrap">
            <div class="col-12 col-lg-8  rounded-3">
                <div class="title m-3 d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Trajets</h3>
                    <a href="#" class="h6 mt-0 text-primary">Tous voir > </a>
                </div>
                <div class="card-main">
                    <div class="col-12 mb-4">
                        <div class="row p-3 bg-white rounded-4 ">
                            <div class="col-md-6">
                                <div class="d-flex mb-3">
                                    <span class="img me-4">
                                        <img src="{{ directory }}/assets/image/icone/icone1.png" alt="icone1">
                                    </span>
                                    <span>
                                        <p class="mb-2 fw-light opacity-50">Axe Central 1</p>
                                        <p class="fw-bold">Analakely - Tanjombato</p>
                                    </span>
                                </div>
                                <div class="text-secondary d-flex justify-content-between flex-wrap gap-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar fs-5 m-2"></i>
                                        <p class="fs-6 fw-bold opacity-75">Aujourd’hui - 7h</p>
                                    </div>
                                    <div class="deposer fw-bold d-flex justify-content-center align-items-center"
                                        style=" color:#FFBD21">
                                        <i class="bi bi-arrow-up fs-4 m-2"></i>
                                        <p>Déposer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" style="border-left: 1px solid #E4E6E8; padding-left:2rem">
                                <h4 class="pl-5">Assignés</h4>
                                <div class="row d-flex justify-content-around">
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Voitures</p>
                                        <p class="fw-bold">3</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Hotels</p>
                                        <p class="fw-bold">23</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Personnels</p>
                                        <div class="d-flex position-relative">
                                            <img src="{{ directory }}/assets/image/photo.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo2.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                     <div class="col-12 mb-4">
                        <div class="row p-3 bg-white rounded-4 ">
                            <div class="col-md-6">
                                <div class="d-flex mb-3">
                                    <span class="img me-4">
                                        <img src="{{ directory }}/assets/image/icone/icone2.png" alt="icone1">
                                    </span>
                                    <span>
                                        <p class="mb-2 fw-light opacity-50">Axe Central 1</p>
                                        <p class="fw-bold">Analakely - Tanjombato</p>
                                    </span>
                                </div>
                                <div class="text-secondary d-flex justify-content-between flex-wrap gap-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar fs-5 m-2"></i>
                                        <p class="fs-6 fw-bold opacity-75">Aujourd’hui - 7h</p>
                                    </div>
                                    <div class="deposer fw-bold d-flex justify-content-center align-items-center"
                                        style=" color:#FFBD21">
                                        <i class="bi bi-arrow-up fs-4 m-2"></i>
                                        <p>Déposer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" style="border-left: 1px solid #E4E6E8; padding-left:2rem">
                                <h4 class="pl-5">Assignés</h4>
                                <div class="row d-flex justify-content-around">
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Voitures</p>
                                        <p class="fw-bold">15</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Hotels</p>
                                        <p class="fw-bold">12</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Personnels</p>
                                        <div class="d-flex position-relative">
                                            <img src="{{ directory }}/assets/image/photo.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo2.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-12 mb-3">
                        <div class="row p-3 bg-white rounded-4 ">
                            <div class="col-md-6">
                                <div class="d-flex mb-3">
                                    <span class="img me-4">
                                        <img src="{{ directory }}/assets/image/icone/icone3.png" alt="icone1">
                                    </span>
                                    <span>
                                        <p class="mb-2 fw-light opacity-50">Axe Central 1</p>
                                        <p class="fw-bold">Analakely - Tanjombato</p>
                                    </span>
                                </div>
                                <div class="text-secondary d-flex justify-content-between flex-wrap gap-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar fs-5 m-2"></i>
                                        <p class="fs-6 fw-bold opacity-75">Aujourd’hui - 7h</p>
                                    </div>
                                    <div class="deposer fw-bold d-flex justify-content-center align-items-center"
                                        style="color:#FFBD21">
                                        <i class="bi bi-arrow-up fs-4 m-2"></i>
                                        <p>Déposer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" style="border-left: 1px solid #E4E6E8; padding-left:2rem">
                                <h4 class="pl-5">Assignés</h4>
                                <div class="row d-flex justify-content-around">
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Voitures</p>
                                        <p class="fw-bold">26</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Hotels</p>
                                        <p class="fw-bold">9</p>
                                    </div>
                                    <div class="col-md-4 d-flex flex-row flex-md-column gap-3">
                                        <p class="fw-light opacity-50">Personnels</p>
                                        <div class="d-flex position-relative">
                                            <img src="{{ directory }}/assets/image/photo.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo2.png" alt="">
                                            <img src="{{ directory }}/assets/image/photo3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-12 col-lg-3 bg-white rounded-3">
                <div class="title m-3">
                    <h3>Activités récents</h3>
                    <div class="card-main row">
                        <div class="col-12 my-2 p-3 rounded-3 d-flex" style="background-color: #F4F9FD;">
                            <div class="me-2">
                                <i class="bi fs-2 text-primary bi-cloud-arrow-up"></i>
                            </div>
                            <div class="text">
                                <p> Le personnel “ <strong>Axel</strong> ” a été ajouté au système</p>
                            </div>
                        </div>

                        <div class="col-12 my-2 p-3 rounded-3 d-flex" style="background-color: #F4F9FD;">
                            <div class="me-2">
                                <i class="bi fs-2 text-primary bi-paperclip"></i>
                            </div>
                            <div class="text">
                                <p> Le personnel “ <strong>Axel</strong> ” a été ajouté au système</p>
                            </div>
                        </div>

                        <div class="col-12 my-2 p-3 rounded-3 d-flex" style="background-color: #F4F9FD;">
                            <div class="me-2">
                                <i class="bi fs-2 text-primary bi-cloud-arrow-up"></i>
                            </div>
                            <div class="text">
                                <p> Le personnel “ <strong>Axel</strong> ” a été ajouté au système</p>
                            </div>
                        </div>

                        <div class="col-12 my-2 p-3 rounded-3 d-flex" style="background-color: #F4F9FD;">
                            <div class="me-2">
                                <i class="bi fs-2 text-primary bi-cloud-arrow-up"></i>
                            </div>
                            <div class="text">
                                <p> Le personnel “ <strong>Axel</strong> ” a été ajouté au système</p>
                            </div>
                        </div>

                        <div class="col-12 my-2 p-3 rounded-3 d-flex" style="background-color: #F4F9FD;">
                            <div class="me-2">
                                <i class="bi fs-2 text-primary bi-cloud-arrow-up"></i>
                            </div>
                            <div class="text">
                                <p> Le personnel “ <strong>Axel</strong> ” a été ajouté au système</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>