   <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
 <style>
 .date_container{
    z-index: 99!important;
 }
 </style>

<div class="position-relative" style="background:#F4F9FD;">

	<div class="col-12 col-xl-12 p-3">

		<div class="row d-flex justify-content-between my-4 flex-column flex-lg-row">
			<div class="col-12 col-md-4 mb-2">
				<h1>Contenus EXCEL</h1>
			</div>
			<form>
				<div class="col-12 col-md-12 d-flex flex-wrap justify-content-center justify-content-md-start justify-content-lg-start gap-2">
			                          <div class="ui left icon d-flex input col-6 date_container">
                <select class="form-select" placeholder="Heure"  name="heure">
                    {% for item in collections.heures %}
                    <option value="{{item.tid}}" {% if collections.filter.heure == item.tid %} selected {% endif %} >{{item.name}} H</option>
                    {% endfor %}
                </select>
            </div>
						<div class="ui left icon d-flex input col-6 date_container">
							<input id="datepicker" value={{collections.filter.date}} name="date" class="border-0 p-3 rounded-4" placeholder="DD-MM-YYYY" >
						</div>
    
						<div class="ui right d-flex icon input col-6">
							<input type="text" name="search" value="{{collections.filter.search}}" class="border-0 p-3 rounded-4" placeholder="Nom" >
							<i class="search icon"></i>
						</div>

					
				</div>
                	<button class="btn my-2 btn-success col-12 col-sm-auto d-flex px-5 rounded-4 justify-content-center align-items-center order-0 order-sm-3 m-1">
							<i class="search seach-plus"></i>
							<p class="mx-2">Recherche</p>
				</button>
			</form>
		</div>

		<div class="">

			<table id="table" class="table table-bordered rounded text-center" data-toggle="table" data-pagination="true" data-page-size="10" data-click-to-select="true" data-show-pagination="true">
				<thead class="thead-dark border bdr">
					<tr>
						<th data-field="nbre" data-sortable="true">
							Type
						</th>
						<th data-field="date" data-sortable="true">Date</th>
						<th data-field="matricule" data-sortable="true">Matricule</th>
						<th data-field="nom" data-sortable="true">Nom</th>
						<th data-field="adresse" data-sortable="true">Adresse</th>
						<th data-field="contact" data-sortable="true">Contact</th>
						<th data-field="client" data-sortable="true">Client</th>
					</tr>
				</thead>
				<tbody>
					{% for key,item in collections.items %}
						<tr class="opacity-75">
							<td>{{item.type}}</td>
							<td>{{item.date}}
								a
								{{item.heure}}
								H</td>
							<td>
								{{item.matricule}}
							</td>
							<td>
								{{item.prenom}}
								{{item.nom}}
							</td>
							<td>
								{{item.adresse}}
							</td>
							<td>
								{{item.contact}}
							</td>
							<td>
								{{item.client}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="pagiation">
			<div class="d-flex  align-items-center rounded-3">
            <form action="/gestion">
                <input type="hidden" name="heure" value="{{collections.filter.heure}}" />
                <input type="hidden" name="date" value="{{collections.filter.date}}" />
                <input type="hidden" name="search" value="{{collections.filter.search}}" />
						
				<button class="btn my-2 btn-primary d-flex rounded-4 justify-content-center align-items-center gap-2">
					<i class="bi bi-plus-lg"></i>
					<p class="">Commencer la repartition
					</p>
				</button>
             </form>   
			</div>
		</div>
	</div>
</div>
    <script>
      const picker = new easepick.create({
        element: document.getElementById('datepicker'),
        css: [
          'https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.css',
        ],
      });
    </script>