
<div class="position-relative" style="background:#F4F9FD;">      
    
    <div class="col-12 col-xl-12 p-3">
                <div class="row d-flex justify-content-between my-5 flex-column flex-lg-row">
                    <div class="col-12 col-md-4 mb-2">
                        <h1>Personnel (28)</h1>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-wrap justify-content-start justify-content-lg-end">
                        <button class="btn bg-white my-2 order-2 order-sm-0 m-1">
                            <i class="bi bi-funnel"></i>
                        </button>
                        <button class="btn my-2 btn-outline-primary d-flex justify-content-center align-items-center m-1 rounded-4 btn-personal order-1 order-sm-2">
                            <i class="bi me-2 bi-plus-lg"></i>
                            <p class="m-0 p-0">Ajouter un personnel</p>
                        </button>
                        <button class="btn my-2 btn-primary d-flex px-5 rounded-4 justify-content-center align-items-center order-3 order-sm-3 m-1">
                            <i class="bi bi-download"></i>
                            <p class="mx-2">Exporter</p>
                        </button>
                    </div>
                </div>
    
                <div class="">
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="row rounded-3 p-3 bg-white me-2 rounded-4 d-flex flex-wrap flex-column flex-md-row position-relative gap-2">
                                <div class="col-1 d-flex justify-content-md-center align-items-md-center">
                                    <img src="{{ directory }}/assets/image/image.png" alt="" class="image-smal">
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1">Marie</h5>
                                    <p class="opacity-50">evanyates@gmail.com</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Matricule</h5>
                                    <p>101</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Hotel</h5>
                                    <p>Marriott</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Adresse</h5>
                                    <p>10 avenue de la Gare</p>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-row flex-md-column">
                                    <h5 class="m-1 opacity-50">Contact</h5>
                                    <p>0678901234</p>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center position-absolute" style="right: 10px; top:50%; transform:translateY(-50%);z-index:100;">
                                    <div class="dropdown">
                                        <button class="btn btn-seondary rounded-5" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background-color: #F4F9FD;">
                                            <i class="bi bi-three-dots-vertical fs-5 opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="#">Action 1</a></li>
                                            <li><a class="dropdown-item" href="#">Action 2</a></li>
                                            <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                                
                </div>
                <div class="pagiation">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="bg-white d-flex justify-content-center align-items-center p-2 m-2 rounded-3">
                            <p class="m-0 px-2">1-8 sur 28</p>
                           <button class=" btn disable border-0 bg-white opacity-50">
                                <i class="bi bi-arrow-left"></i>
                           </button>
                           <button class="btn border-0 bg-white text-primary">
                                <i class="bi bi-arrow-right"></i>
                           </button>
                        </div>
                    </div>
                </div>
            </div>
</div>