{% set n = (node_parser(node)) %}
{% set client = node_parser(n.field_client.nid) %}
{#{{kint(n.field_articles[0])}} {{die()}}#}
{% set params = get_parameter() %}
{{ attach_library('myadmin/bootstrap_css') }}
<style>
.bg-gin{
  background-color:var(--colorGinToolBarBackground);
}
.text-custom-payed{
  color:#28a745;
    text-transform: uppercase;
}
.text-custom-unpayed{
  color:#d2322d;
    text-transform: uppercase;
}
.text-custom-cancel{
  color:#6c6c6c;
    text-transform: uppercase;
}

</style>
<div class="container">
  <section id="invoice">
    <div class="container my-md-5 py-5">

      <div class=" d-md-flex justify-content-between align-items-center  mb-5  ">
        <div class="mt-5 mt-md-0">
          <h2 class="display-6 fw-bold">Commande </h2>
          <p class="m-0">Reference : {{ n.title }}</p>
        </div>
        <div class="mt-5 mt-md-0 me-5">
          {% if n.field_status == "payed" %}
             <h5 class="text-custom-payed fw-bold">Commande payé  </h5>
          {% endif %}
          {% if n.field_status == "unpayed" %}
             <h5 class="text-custom-unpayed fw-bold"> En Attente de paiement  </h5>
          {% endif %}
          {% if n.field_status == "cancel" %}
             <h5 class="text-custom-cancel fw-bold">Commande Annulé  </h5>
          {% endif %}
        </div>
      </div>

      <div class="bg-gin rounded-5 p-5">
        <div class="d-md-flex justify-content-between">
          <div>
           {% if client %}
            <p class="text-primary fw-bold">Info client</p>
            <h5>{{ client.title }}</h5>
            <p>{{ client.field_phone }}</p>
           {% endif %} 
          </div>
          <div class="text-md-end ">
            <p class="text-primary fw-bold">Info commande</p>
            <h5>Date</h5>
            <ul class="list-unstyled">
              <li><span class="fw-semibold">Antananarivo, le </span> {{ n.created |date('d-m-Y') }}</li>
            </ul>
          </div>
        </div>
      </div>
   


      <table class="table border my-4">
        <thead>
        <tr class="bg-primary">
          <th scope="col">Description</th>
          <th scope="col">Prix unitaire</th>
          <th scope="col">Qte</th>
          <th scope="col">Montant</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
           {% set total_tva  = 0 %}
        {% for article in n.field_articles %}
          {% set a = node_parser(article.field_article.nid) %}
          {% set montant = a.field_prix_unitaire * article.field_quantite %}
       
          <tr>
            <td>{{ a.title }} {% if (a.field_tva == 1) %} ( Avec TVA 20% ){% endif %} </td>
            <td>{{ price(a.field_prix_unitaire) }} Ar</td>
            <td>{{ article.field_quantite }}</td>
            <td>{{ price(montant) }} Ar</td>
          </tr>
          {% if (a.field_tva == 1) %} 
           {% set total_tva = total_tva + montant*0.20 %}
          {% endif %}
            {% set total = total +  montant %}
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td class="fw-bold">Sous total</td>
          <td class="fw-bold">{{ price(total) }} Ar</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="fw-bold">TVA 20% </td>
          <td class="fw-bold">{{price(total_tva)}} Ar </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="text-primary fs-5 fw-bold">Total</td>
          <td class="text-primary fs-5 fw-bold">{{ price(total_tva + total) }} Ar</td>
        </tr>
        </tbody>
      </table>

      <div class="rounded-5">
        <div class="d-md-flex justify-content-between mt-4">
          <div class="mt-5 mt-md-0">
            {% if n.field_status != "payed" %}
              <div class="d-flex">
                <form action="" method="POST" onsubmit="return confirm('Voulez-vous vraiment confirmer la commande?');">
                  <input type="hidden" name="status" value="payed" />
                  <button type="submit" class="btn btn-primary">Confimer payement Recues</button>
                </form>
                <form action="" method="POST" onsubmit="return confirm('VOulez-vous vraiment annuler la commande?');">
                  <input type="hidden" name="status" value="cancel" /> 
                  <button type="submit" style="margin-left:20px" class="btn btn-secondary">Annuler le Commande </button>
                </form>
              </div>
            {% endif %}
            {% if n.field_status == "payed" %}
                <input type="hidden" name="telecharger" value="1" />
                <a href="/invoice?id={{n.nid}}" class="btn btn-primary">Télécharger la facture</a>
            {% endif %}
          </div>
          <div class="text-md-end mt-5 mt-md-0">

          </div>
        </div>
      </div>

    </div>
  </section>
</div>
